<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>KAURI</h1>
  <a href="/form">Seller</a>
  <a href="/form">Buyer</a>
  <a href="/form">Sign in</a>

  {{#each plannerData}}
  <p>
    Name: {{name}}<br>
    Topic:  {{topic}}<br>
    Date: {{date}}<br>
    Contact:  {{contact}}<br>
    Comment:  {{comment}}<br><br>

  </p>
  {{/each}}
  </body>
</html>
